{% block styles%}
body {
background: #ebebeb;
}
.navbar {
background: #dbdbdb;
}

.flex {
display:flex !important;
flex-direction: column !important;

}

.loc{
color: black;
text-decoration: none;
}

.loc:hover {
color: blue;
}
{% endblock %}
